/* Para telas menores que 1200px */
@media screen and (max-width: 1200px) {
  #desktop-nav {
    display: none;
  }
  #hamburger-nav {
    display: flex;
  }
  #experience,
  .experience-details-container {
    margin-top: 2rem;
  }
  #profile,
  .section-container {
    display: block;
  }
  .arrow {
    display: none;
  }
  section,
  .section-container {
    height: fit-content;
  }
  section {
    margin: 0 5%;
  }
  .section__pic-container {
    width: 275px;
    height: 275px;
    margin: 0 auto 2rem;
  }
  .about-containers {
    margin-top: 0;
  }
}

/* Para telas menores que 600px */
@media screen and (max-width: 600px) {
  p {
    font-size: 10px;
    max-width: 100%;
    
  }
  .details-container-about {
    padding: 1rem;
    flex: 1;
    height: 6rem;
    background: white; 
    
  }
  .details-container {

    width:375px;
    max-width: 100%;
    justify-self: center;
    align-items: center;
    align-self: flex-start;
  }
  
  .details-container p {
    font-size: 10px;
  }
  .experience-sub-title {
    font-size: 1rem;
  }
  .logo {
    font-size: 1.5rem;
  }
  .nav-links {
    flex-direction: column;
    gap: 0.5rem;
    margin: 0;
    text-align: center;
  }

  #contact,
  footer {
    height: 40vh;
  }
  #profile {
    height: 83vh;
    margin-bottom: 0;
  }
  article {
    font-size: 1rem;
    justify-content: unset;
  }
  footer nav {
    height: fit-content;
    margin-bottom: 2rem;
  }
  .about-containers{
    align-items: self-start;
      max-width: 100%;
      width: 375px;
      

  }

  .contact-info-upper-container,
  .btn-container {
    flex-wrap: wrap; /* Corrigido para aplicar flexibilidade ao container */
  }
  .contact-info-container p,
  .nav-links li a {
    
    font-size: 10px;
  
  }
  .experience-sub-title {
    font-size: 1.25rem;
  }
  .logo {
    font-size: 1.5rem;
  }
  .section__pic-container {
    width: auto;
    height: 46vw;
    justify-content: center;
  }
  .section__text__p2 {
    font-size: 1.25rem;
  }
  .title {
    font-size: 2rem;
  }
  .text-container {
    text-align: justify;
    margin-top: 10px;
  }
}